:root {
  --bg-color: #2c2c2c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: var(--bg-color);
}
.app-body {
  margin: 40px auto;
  background-color: rgb(39, 39, 39);
  max-width: 600px;
  height: 80vh;
  padding: 10px;
  border-radius: 20px;
  overflow-y: scroll;
  scrollbar-color: #bb1a1a rgb(41, 41, 41);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #ffffff;
}
